.mapWrapper {
  width: 100vw;
  height: 100vh;
}

.Map {
  height: 700px;
}

.leaflet-touch .leaflet-geosearch-bar form input {
  height: 60px;
  background: url(../../shared/images/icons8-search-16.png) no-repeat 0px 0px;
  background-position: left;
}

.leaflet-control-geosearch form input {
  padding-left: 30px;
}

.leaflet-control-geosearch .results > * {
  background: url(../../shared/images/icons8-place-marker-16.png) no-repeat 0px 0px;
  background-position: left;
  padding-left: 30px;
    padding-top: 16px;
  height: 60px;
}
.leaflet-geosearch-bar form {
  width: 500px;
  position: fixed;
  top: 60px;
  left: 60px;
  display: block;
  border-radius: 4px;
}

/* .AddInput {
  width: 40%;
  position: relative;
}
.AddInput input {
  height: 50px;
  background-color: RGB(252, 253, 253);
}

.InputField {
  margin-top: 10px;
  margin-left: 10px;
  position: absolute;
  z-index: 1000;
  width: 30%;
  opacity: 0.9;
}

.InputField i {
  font-size: 25px;
}

.InputField span {
  font-size: 16px;
}

.InputField button {
  padding: 10px;
  font-size: 12px;
  background-color: RGB(250, 255, 246);
  height: 80px;
  width: 100%;
  border: none;
}

.SelectBtn {
  display: flex;
  align-items: center;
  text-align: left;
}
.SelectBtn p {
  opacity: 0.6;
}
.SelectBtn div {
  margin-right: 20px;
}

.SelectBtn div {
  margin-right: 20px;
}

.TitleBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */
